@import url(style.css);

header {
    position: inherit;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

body {
    background-color: rgb(238, 238, 238);
}

.content {
    margin-top: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    animation: inherit;
    font-size: larger;
}

.books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-input {
    border: 1px solid;
    border-radius: 25px;
    padding: 5px 8px;
    height: 20px;
    width: 350px;
}

.search-btn {
    border: 1px solid;
    border-radius: 25px;
    height: 30px;
    width: 50px;
    text-align: center;
    background-color: white;
}

.search-btn:hover {
    background-color: black;
    color: white;
    transition: 0.3s; 
    border-color: black;
}

.input-image {
    border: 1px solid;
    height: 150px;
    width: 120px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 250px;
    background-color: white;
    border: 0px solid;
    margin: 7px;
}

.rating-area {
	overflow: hidden;
	width: 220px; /* 265px */
	margin: 0;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 44px;
	padding: 0;
	cursor: pointer;
	font-size: 50px;
	line-height: 32px;
	color: lightgrey;
	/* text-shadow: 1px 1px #bbb; */
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	/* text-shadow: 1px 1px #c60; */
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	/* text-shadow: 1px 1px goldenrod; */
}
.rate-area > label:active {
	position: relative;
}